<div class="card" style="width: 18rem;">
  {% if instance.image %}
  <a href='{{ instance.get_absolute_url }}'>
    <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }} logo">
    </a>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title|truncatewords:5 }}</h5>
    <p class="card-text">{{ instance.description|truncatewords:10 }}</p>
    <p class="card-text">Cost you- {{ instance.price }}</p>
    <a href='{{ instance.get_absolute_url }}' class="btn btn-primary">View</a><br/>
    {% include "Snippet/update_cart.html" with product=instance cart=cart %}
  </div>
</div>