{% extends 'base.html' %}

{% block content %}
<h1>Checkout</h1>

{% if billing_profile %}

    {% if object.address %}
        <p>Shipping Total: {{ object.shipping_total }}</p>
        <p>Total Amount: {{ object.total }}</p>
    {% else %}
        <div class="col-6">
        {% url 'address_app:checkout_create_address' as checkout_create_address %}
        {% include "address.html" with form=address_form next_url=request.build_absolute_uri action_url=checkout_create_address %}
        </div>
    {% endif %}
{% else %}
    <div class="row">
        <div class="col-6">
            {% include "auth/snippets/form.html" with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class="col-6">
            Continue as Guest
            {% url 'guest_register_page' as guest_register_page %}
            {% include "auth/snippets/form.html" with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_page %}
            {% comment %} 
                we can't put it like- action_url = {% url 'guest_register_page' %}
                so first assigning it to variable then passing it.
            {% endcomment %}
        </div>        
    </div>
{% endif %}

{% endblock content %}