<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
<div class="container">
  <a class="navbar-brand" href="{% url 'home_page' %}">{{ brand_name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home_page' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_page' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product_app:list' %}">Products</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'login_page' %}">Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'register_page' %}">Register</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart_app:cart_home' %}">Cart {{ request.session.cart_items }}</a>
      </li>
    </ul>
      {% include 'search/searchForm.html' %}
  </div>
</div>
</nav>
